<nav *ngIf="!isAdminLoggedIn && !isVoterLoggedIn" class="navbar">
  <a routerLink="/login">Login</a>
  <button (click)="logout()">Logout</button>
</nav>

<nav *ngIf="isAdminLoggedIn" class="navbar admin-navbar">
  <!-- <a routerLink="/login">Login</a> -->
  <button (click)="logout()">Logout</button>
  <button routerLink="/admin/add_voter">Add Voter</button>
  <button routerLink="/admin/add_party">Add Party</button>
</nav>

<nav *ngIf="isVoterLoggedIn" class="navbar voter-navbar">
  <!-- <a routerLink="/login">Login</a> -->
  <button (click)="logout()">Logout</button>
  <button routerLink="/voter/cast_vote">Cast Vote</button>
</nav>

<router-outlet></router-outlet>
